<div class="pageContainer">
  <h1><%= @movie.title %></h1>
  <h4>Released: <p><%= @movie.release_date%></p></h4>
  <p><%= @movie.plot %></p>
  <h6>Rating: <%= @movie.avg_rating %></h6>
  <%= image_tag @movie.poster.url(:regular) %>
  <!-- <% if @movie.poster_path%>
    <img class="posterImage" src="<%= @movie.poster_path %>">
  <% else %>
    <img class="posterImage" src="<%= image_path('default_poster.png') %>">
  <% end %> -->
</div>
