<div class="pageContainer">
  <div class="movieInfoSection">
    <%= image_tag @movie.poster.url(:regular), class: "moviePoster" %>
    <div class="movieRating"><center>Rating:</center><p class="ratingValue"><%= @movie.avg_rating %></div></p>
    <div class="movieInfo">
      <h1><%= @movie.title %></h1>
      <% if @movie.release_date %>
        <h5><%= @movie.release_date.strftime("%B %e, %Y")%></h5>
      <% end %>
      <p><%= @movie.plot %></p>
    </div>
  </div>

  <div class="ratingsSection">
    <h2>Ratings</h2>
    <br />
    <center><h4>All Ratings</h4></center>

    <% if @ratings.any? %>
      <% @ratings=Rating.where(movie_id: session[:current_movie_id]).paginate(:page => params[:page], :per_page => 7) %>
      <% @ratings.each do |r| %>
      <div class="feedbackBox">
        <div class="ratingValue">
          <%= r.rating_value %>
        </div>
        <div class="ratingInfo">
          <h5><%= User.find_by(id: r.user_id).name %> says:</h5>
          <p><%= r.comment %></p>
        </div>
      </div>
      <% end %>
      <center><%= will_paginate @ratings, class: "paginate" %></center>
    <% else %>
    <center><p>This movie does not have any ratings yet. Be the first to rate it!</p></center>
    <% end %>

    <!-- User's own ratings -->
    <% if logged_in? %>
      <div class="formEnter">
        <h4>My Rating</h4>
        <%= form_for @my_rating, url: '/movies/'+@movie.id.to_s+'/myrating' do |f| %>
          <%= form_errors_for @my_rating %>

          <% if !@my_rating.rating_value and !@my_rating.comment %>
            <p>Rate this movie now!</p>
          <% end %>

          <%= f.label :rating_value, "Rating Score (From 1 to 10)" %>
          <%= f.number_field :rating_value, :value => @my_rating.rating_value, class: "form-control userRatingValue", in: 1..10 %>
          <br />
          <%= f.label :comment %>
          <%= f.text_area :comment, :value => @my_rating.comment, class: "form-control commentBox" %>

          <%= hidden_field_tag :movie_id, @movie.id %>
          <%= hidden_field_tag :user_id, current_user.id %>

          <%= f.submit "Save Rating", class: "btn btn-primary registerButton" %>
        <% end %>
      </div>
    <% else %>
      <br />
      <center><p><%= link_to "Log In", login_path, class: "pageLink"%> or <%= link_to "Register", register_path, class: "pageLink"%> to rate this movie</p></center>
    <% end %>

  </div>

</div>
